@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-josefin: "Josefin Sans", sans-serif;
}

:root {
  font-family: var(--font-inter);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--body-text);
  background-color: var(--surface-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-gray-blue: #303745;
  --primary-button: #3368e8;

  --focus-accent: #3368e8;
  --focus-accent-soft: rgba(51, 104, 232, 0.15);

  --headings-text: #323643;
  --body-text: #656d76;
  --danger-text: #cf333e;
  --danger-soft: rgba(207, 34, 46, 0.14);

  --surface-base: #ffffff;
  --surface-raised: #fbfcfd;
  --surface-muted: #f6f8fa;
  --danger-surface: #fff1f3;
  --foreground: #f5f5f5;

  --border-subtle: #dbdbdb;
  --border-default: #c9d1d9;
  --border-hover: #8c959f;
  --border-bold: #717171;

  --shadow-subtle: rgba(31, 35, 40, 0.04);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

h2 {
  font-size: 2.8rem;
  line-height: 1.1;
}

h3 {
  font-size: 2.0rem;
  line-height: 1.1;
}

p {
  font-size: 1.0rem;
  line-height: 1.5;
}
